# R project and user data files
.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.rds

# R files that tend to be large
*.gri
*.grd
*.tiff

# For targets
_targets/

# AJA results folders
/results
data/nmfs/raw/march_2021_survdat_allcols.csv
data/supporting/species_table.csv
data/dfo/raw/DD_20191004.xlsx

# For bookdown
docs/.nojekyll

# For Rclone/Docker/Digital Ocean
.config/*
.local/*
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile

