# R project and user data files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds

# R files that tend to be large
*.gri
*.grd
*.tiff

# For targets
_targets/

# AJA results folders
#/results

# For bookdown
docs/.nojekyll

# For Rclone/Docker/Digital Ocean
.config/*
.local/*
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile

/Kmeans_knots-400.RData
data/combined/all_tows.rds
data/combined/all_tows_with_static_covs_sf.rds
data/combined/tidy_mod_data.rds
data/combined/vast_catchability_data.rds
data/combined/vast_covariate_data.rds
data/combined/vast_data.rds
data/combined/vast_sample_data.rds
Kmeans_knots-100.RData
packageDescription.txt
parameter_estimates.RData
parameter_estimates.txt
settings.txt
data/supporting/Extra_Index_Shapefiles
Data_and_knots.png
Data_by_year.png
