# R project and user data files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds

# R files that tend to be large
.gri$
.grd$
.tiff$

# For targets
_targets/

# AJA data and results folders
/results

# For bookdown
docs/.nojekyll

# For Rclone/Docker/Digital Ocean
.config/*
.local/*
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile

